.container {
    width: 80%;
    margin-inline: auto;
  }
  .d-flex {
    display: flex;
    flex-wrap: wrap;
  }
  
  .justify-center {
    justify-content: center;
  }
  .space-between {
    justify-content: space-between;
  }
  .space-around {
    justify-content: space-around;
  }
  
  .align-center {
    align-items: center;
  }
  .align-flex-start {
    align-items: flex-start;
  }
  
  .direction-column {
    flex-direction: column;
  }
  
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .flex-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }